{% set reddit = salt.grains.filter_by({
    'default': {
        'pkgs': [
            'cython',
            'geoip-bin',
            'geoip-database',
            'gettext',
            'git-core',
            'gunicorn',
            'jpegoptim',
            'libpcre3-dev',
            'make',
            'mcrouter',
            'netcat-openbsd',
            'node-less',
            'node-uglify',
            'nodejs',
            'optipng',
            'postgresql-client',
            'python-amqplib',
            'python-babel',
            'python-baseplate',
            'python-bcrypt',
            'python-beautifulsoup',
            'python-boto',
            'python-chardet',
            'python-crypto',
            'python-dateutil',
            'python-dev',
            'python-flask',
            'python-geoip',
            'python-gevent',
            'python-gevent-websocket',
            'python-haigha',
            'python-httpagentparser',
            'python-imaging',
            'python-kazoo',
            'python-l2cs',
            'python-lxml',
            'python-manhole',
            'python-mock',
            'python-numpy',
            'python-psycopg2',
            'python-pycaptcha',
            'python-pycassa',
            'python-pylibmc=1.2.2-1~trusty5',
            'python-pylons',
            'python-pyramid',
            'python-raven',
            'python-redis',
            'python-routes',
            'python-setuptools',
            'python-snappy',
            'python-snudown',
            'python-sqlalchemy',
            'python-stripe',
            'python-tinycss2',
            'python-tz',
            'python-unidecode',
            'python-yaml',
        ],
        'service': 'reddit',
        'queue_config_count': {
            'search_q': 0,
            'del_account_q': 1,
            'scraper_q': 1,
            'markread_q': 1,
            'commentstree_q': 1,
            'newcomments_q': 1,
            'vote_link_q': 1,
            'vote_comment_q': 1,
            'automoderator_q': 0,
            'butler_q': 1,
            'author_query_q': 1,
            'subreddit_query_q': 1,
            'domain_query_q': 1
        },
        'mcrouter_config': {
            "pools": {
                "default": {
                    "servers": [
                        "memcached.service.consul:11211",
                    ],
                    "protocol": "ascii",
                    "keep_routing_prefix": false,
                },
            },
            "named_handles": [
                {
                    "name": "default-pool",
                    "type": "PoolRoute",
                    "pool": "default",
                },
            ],
            "route": {
                "type": "PrefixSelectorRoute",
                "policies": {
                    "rend:": "default-pool",
                    "page:": "default-pool",
                    "pane:": "default-pool",
                    "sr:": "default-pool",
                    "account:": "default-pool",
                    "link:": "default-pool",
                    "comment:": "default-pool",
                    "message:": "default-pool",
                    "campaign:": "default-pool",
                    "award:": "default-pool",
                    "trophy:": "default-pool",
                    "flair:": "default-pool",
                    "friend:": "default-pool",
                    "inboxcomment:": "default-pool",
                    "inboxmessage:": "default-pool",
                    "reportlink:": "default-pool",
                    "reportcomment:": "default-pool",
                    "reportsr:": "default-pool",
                    "reportmessage:": "default-pool",
                    "modinbox:": "default-pool",
                    "otp:": "default-pool",
                    "captcha:": "default-pool",
                    "queuedvote:": "default-pool",
                    "geoip:": "default-pool",
                    "geopromo:": "default-pool",
                    "srpromos:": "default-pool",
                    "rising:": "default-pool",
                    "srid:": "default-pool",
                    "defaultsrs:": "default-pool",
                    "featuredsrs:": "default-pool",
                    "query:": "default-pool",
                    "rel:": "default-pool",
                    "srmember:": "default-pool",
                    "srmemberrel:": "default-pool",
                },
                "wildcard": {
                    "type": "PoolRoute",
                    "pool": "default",
                }
            }
        }
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('reddit:overrides'), base='default') %}
